@import "../../style/variables.scss";
@import "../../style/mixin.scss";

.Templates {
  color: #464646;
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Marcellus", "Shippori Mincho";

  p:first-of-type {
    font-size: 16px;
  }

  p:last-of-type {
    font-size: 10px;
  }
}
