// font-color
$font-color-red: #7d2331;
$font-color-blue: #7d2331;
$font-color-gray: #464646;
$font-color-white: #fff;
$font-color-green: #fff;

// background-color
$global-color-white: #464646;
$global-color-green: #fff;

// z-index
$global-elevation-background: -999;
$global-elevation-1: 1000000;
$global-elevation-2: 4000000;
$global-elevation-3: 8000000;
$global-elevation-4: 2147483647;
